@import "../../styles.scss";
.custom-container {
  .card-home {
    ::ng-deep {
      .mat-paginator-container {
        justify-content: center !important;
      }
    }
  }
  .link-btn {
    @include link-button;
  }
  .view-text{
    font-family: $primary_font;
    font-weight: $bold;
    @include font-size(1.5);
  }
  .header-card{
    @include flex-container(row, center, center);
    border-bottom: 2px solid $color__accent;
  }
}
.spinner{
    margin:0 auto;
}