@import "../../../styles.scss";
.elements{
    @include flex-container(row, center, center);
    flex-wrap: wrap;
    .anagrafica-element{
        width: 300px;
        margin: #{$spacing-xxl}px;
        ::ng-deep{
            .mat-tab-label{
                font-family: $primary_font;
                font-weight: $bold;
                pointer-events: none;
            }
        }
    }
}

.link-btn{
  @include link-button;
}